<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>ENSE374 - Lab 5 </title>  
    </head>
    <body>
        <h1 class="title">To-Do List</h1>

        <div class="container" style="width:450px; text-align: center;">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">  
                                Logged in as <%= username %>
                            </button>
                    </div>
                    <div id="accordion-collapse collapse" class="collapse shadow-sm show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" onclick="document.location.href='/logout'">Log out</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </br>
    
    
        <div class="todoMiddle">
            <div id="lists">  
                <%- include("partials/taskItems.ejs", { itemList : tasks}) -%>  <!--THIS IS WHERE LISTS GO-->
            </div>
            <form action="/addTask" method="post">
            <div class="input-group mb-3" id="task">
                <input type="text" class="form-control" name="listText" id="listText" placeholder="Add a list element">
                <button type="submit" class="btn btn-outline-secondary" id="add" >Add</button>
            </div>
            </form>
            <form action="/purge" method="post">
            <button type="submit" class="btn btn-outline-secondary">Remove Complete</button> <br/>
        </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="scripts.js"></script>
    </body>
</html>